<header>
    <nav>
      <a href="/">My Library</a>
      <ul>
          <li>
              <a href="/streams">Streams</a>
          </li>
          <li>
               <a href="/streams/new">Add Stream</a>
          </li>
      </ul>
    </nav>
</header>
