<h2>Edit Streaming links</h2>
<form action="/streams/<%= stream.id %>?_method=PUT" method="POST">
<%- include('_form_fields') %>
<a href="/streams/<%= stream.id %>">Cancel</a>
<button type="submit">Update</button>
</form>